<!DOCTYPE html>
<!-- Template modified from https://www.freecodecamp.org/news/html-starter-template-a-basic-html5-boilerplate-for-index-html/ -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
crossorigin="anonymous">
    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="site-header">
      <div class="header-left">
        <a href="{{ url_for('index') }}" class="logo">LOGO</a>
        <nav class="nav-links">
          <a href="#">Found items</a>
          <a href="#">L&amp;F locations</a>
        </nav>
      </div>

      <div class="header-right">
        <form action="{{ url_for('create_post') }}" method="get">
          <button class="btn-accent">+ I found something</button>
        </form>

        <select name="account" id="account" class="account-select">
          <option value="">Account</option>
          <option value="settings">Settings</option>
          <option value="profile">Profile</option>
        </select>
      </div>
    </header>

    <main>
    {% block main %}{% endblock %}
    </main>

    <footer class="site-footer">
      Footer Block <br>
      Fleshing out footer
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
